@font-face {
  font-family: "element-icons"; /* Project id 4796093 */
  src: url('iconfont.woff2?t=1736064501014') format('woff2'),
       url('iconfont.woff?t=1736064501014') format('woff'),
       url('iconfont.ttf?t=1736064501014') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-leijixuankerenshu:before {
  content: "\e65a";
}

